<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Title</key>
		<string>修改资料</string>
		<key>Desc</key>
		<string>1</string>
		<key>Target</key>
		<string>profile</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>意见反馈</string>
		<key>Desc</key>
		<string>1</string>
		<key>Target</key>
		<string>feedback</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>用户协议</string>
		<key>Desc</key>
		<string>1</string>
		<key>Target</key>
		<string>useragreement</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>关于</string>
		<key>Desc</key>
		<string>2</string>
		<key>Target</key>
		<string>about</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>登出</string>
		<key>Desc</key>
		<string>0</string>
		<key>Target</key>
		<string>logout</string>
	</dict>
</array>
</plist>
